*{
    margin: 0;
    padding: 0;
}


header{
    display: flex;
    justify-content: space-around;

}

#logo{
    width: 189px;
}

#boxqualquer{
    background-color: aqua;
    width: 600px;
    height: 106px;
    border-radius: 10px;
    margin-top: 40px;
}